In [139]:
import pandas as pd
import numpy as np
import datetime as dt

In [140]:
#inserciond de datasets
df1=pd.read_csv("Datasets/olist_closed_deals_dataset.csv")
df2=pd.read_csv("Datasets/olist_customers_dataset.csv")
df3=pd.read_csv("Datasets/olist_geolocation_dataset.csv")
df4=pd.read_csv("Datasets/olist_marketing_qualified_leads_dataset.csv")
df5=pd.read_csv("Datasets/olist_order_items_dataset.csv")
df6=pd.read_csv("Datasets/olist_order_payments_dataset.csv")
df7=pd.read_csv("Datasets/olist_order_reviews_dataset.csv")
df8=pd.read_csv("Datasets/olist_orders_dataset.csv")
df9=pd.read_csv("Datasets/olist_products_dataset.csv")
df10=pd.read_csv("Datasets/olist_sellers_dataset.csv",dtype={"seller_zip_code_prefix": str})
df11=pd.read_csv("Datasets/product_category_name_translation.csv")

## ETL olist_closed_deals_dataset

In [141]:
dfclosed=df1

In [142]:
dfclosed.drop(columns=["lead_behaviour_profile","has_company","has_gtin","average_stock","business_type","declared_product_catalog_size","declared_monthly_revenue"],axis=1,inplace=True)

In [143]:
dfclosed["won_date"]=pd.to_datetime(dfclosed["won_date"],format="%Y-%m-%d %H:%M:%S")

In [144]:
dfclosed.isna().sum()

mql_id              0
seller_id           0
sdr_id              0
sr_id               0
won_date            0
business_segment    1
lead_type           6
dtype: int64

In [145]:
dfclosed.fillna("SIN DATO",inplace=True)

In [146]:
dfclosed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 842 entries, 0 to 841
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   mql_id            842 non-null    object
 1   seller_id         842 non-null    object
 2   sdr_id            842 non-null    object
 3   sr_id             842 non-null    object
 4   won_date          842 non-null    datetime64[ns]
 5   business_segment  842 non-null    object
 6   lead_type         842 non-null    object
dtypes: datetime64[ns](1), object(6)
memory usage: 46.2+ KB

In [147]:
dfclosed.to_csv("datasetsout/olist_closed_deals_dataset.csv")

## ETL olist_marketing_qualified_leads_dataset

In [148]:
dfmarketing=df4

In [149]:
dfmarketing.head()

,mql_id,first_contact_date,landing_page_id,origin
0,dac32acd4db4c29c230538b72f8dd87d,2018-02-01,88740e65d5d6b056e0cda098e1ea6313,social
1,8c18d1de7f67e60dbd64e3c07d7e9d5d,2017-10-20,007f9098284a86ee80ddeb25d53e0af8,paid_search
2,b4bc852d233dfefc5131f593b538befa,2018-03-22,a7982125ff7aa3b2054c6e44f9d28522,organic_search
3,6be030b81c75970747525b843c1ef4f8,2018-01-22,d45d558f0daeecf3cccdffe3c59684aa,email
4,5420aad7fec3549a85876ba1c529bd84,2018-02-21,b48ec5f3b04e9068441002a19df93c6c,organic_search

In [150]:
dfmarketing["first_contact_date"]=pd.to_datetime(dfmarketing["first_contact_date"],format="%Y-%m-%d %H:%M:%S")

In [151]:
dfmarketing.head()

,mql_id,first_contact_date,landing_page_id,origin
0,dac32acd4db4c29c230538b72f8dd87d,2018-02-01,88740e65d5d6b056e0cda098e1ea6313,social
1,8c18d1de7f67e60dbd64e3c07d7e9d5d,2017-10-20,007f9098284a86ee80ddeb25d53e0af8,paid_search
2,b4bc852d233dfefc5131f593b538befa,2018-03-22,a7982125ff7aa3b2054c6e44f9d28522,organic_search
3,6be030b81c75970747525b843c1ef4f8,2018-01-22,d45d558f0daeecf3cccdffe3c59684aa,email
4,5420aad7fec3549a85876ba1c529bd84,2018-02-21,b48ec5f3b04e9068441002a19df93c6c,organic_search

In [152]:
dfmarketing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   mql_id              8000 non-null   object
 1   first_contact_date  8000 non-null   datetime64[ns]
 2   landing_page_id     8000 non-null   object
 3   origin              7940 non-null   object
dtypes: datetime64[ns](1), object(3)
memory usage: 250.1+ KB

In [153]:
dfmarketing.isnull().sum()

mql_id                 0
first_contact_date     0
landing_page_id        0
origin                60
dtype: int64

In [156]:
dfmarketing.fillna("SIN DATO",inplace=True)

In [157]:
dfmarketing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   mql_id              8000 non-null   object
 1   first_contact_date  8000 non-null   datetime64[ns]
 2   landing_page_id     8000 non-null   object
 3   origin              8000 non-null   object
dtypes: datetime64[ns](1), object(3)
memory usage: 250.1+ KB

In [158]:
dfmarketing.to_csv("datasetsout/olist_marketing_qualified_leads_dataset.csv")

## ETL olist_sellers_dataset.csv

In [65]:
dfsellers=df10

In [66]:
dfsellers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3095 entries, 0 to 3094
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   seller_id               3095 non-null   object
 1   seller_zip_code_prefix  3095 non-null   object
 2   seller_city             3095 non-null   object
 3   seller_state            3095 non-null   object
dtypes: object(4)
memory usage: 96.8+ KB

In [67]:
dfsellers.drop(columns=["seller_city","seller_state"],axis=1,inplace=True)

In [59]:
dfsellers['seller_zip_code_prefix'] = dfsellers['seller_zip_code_prefix'].astype('string')

In [69]:
dfsellers.head()

                          seller_id seller_zip_code_prefix
0  3442f8959a84dea7ee197c632cb2df15                  13023
1  d1b65fc7debc3361ea86b5f14c68d2e2                  13844
2  ce3ad9de960102d0677a81f5d0bb7b2d                  20031
3  c0f3eea2e14555b6faeea3dd58c1b1c3                  04195
4  51a04a8a6bdcb23deccc82b0b80742cf                  12914

In [63]:
dfsellers.to_csv("datasetsout/olist_sellers_dataset.csv")

## ETL olist_products_dataset.csv

In [70]:
dfproducts=df9

In [72]:
dfproducts.drop(columns=["product_name_lenght","product_description_lenght"],axis=1,inplace=True)

In [73]:
dfproducts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   product_id             32951 non-null  object
 1   product_category_name  32341 non-null  object
 2   product_photos_qty     32341 non-null  float64
 3   product_weight_g       32949 non-null  float64
 4   product_length_cm      32949 non-null  float64
 5   product_height_cm      32949 non-null  float64
 6   product_width_cm       32949 non-null  float64
dtypes: float64(5), object(2)
memory usage: 1.8+ MB

In [74]:
dfproducts.to_csv("datasetsout/olist_products_dataset.csv")

## ETL product_category_name_translation.csv

In [75]:
dfproductcategory=df11

In [76]:
dfproductcategory.to_csv("datasetsout/product_category_name_translation.csv")