In [54]:
import pandas as pd
import numpy as np

In [55]:
#inserciond de datasets
df1=pd.read_csv("Datasets/olist_closed_deals_dataset.csv")
df2=pd.read_csv("Datasets/olist_customers_dataset.csv")
df3=pd.read_csv("Datasets/olist_geolocation_dataset.csv")
df4=pd.read_csv("Datasets/olist_marketing_qualified_leads_dataset.csv")
df5=pd.read_csv("Datasets/olist_order_items_dataset.csv")
df6=pd.read_csv("Datasets/olist_order_payments_dataset.csv")
df7=pd.read_csv("Datasets/olist_order_reviews_dataset.csv")
df8=pd.read_csv("Datasets/olist_orders_dataset.csv")
df9=pd.read_csv("Datasets/olist_products_dataset.csv")
df10=pd.read_csv("Datasets/olist_sellers_dataset.csv")
df11=pd.read_csv("Datasets/product_category_name_translation.csv")

## ETL olist_sellers_dataset.csv

In [56]:
dfsellers=df10

In [57]:
dfsellers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3095 entries, 0 to 3094
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   seller_id               3095 non-null   object
 1   seller_zip_code_prefix  3095 non-null   int64
 2   seller_city             3095 non-null   object
 3   seller_state            3095 non-null   object
dtypes: int64(1), object(3)
memory usage: 96.8+ KB

In [58]:
dfsellers.drop(columns=["seller_city","seller_state"],axis=1,inplace=True)

In [59]:
dfsellers['seller_zip_code_prefix'] = dfsellers['seller_zip_code_prefix'].astype('string')

In [60]:
def zipcodecompleto(zip):
    i=0
    if len(zip)<5:
        while i<=5-len(zip):
            zip="0"+zip
            i=i+1
    return(zip)

In [61]:
dfsellers["seller_zip_code_prefix"]=dfsellers["seller_zip_code_prefix"].apply(zipcodecompleto)

In [62]:
dfsellers.head()

                          seller_id seller_zip_code_prefix
0  3442f8959a84dea7ee197c632cb2df15                  13023
1  d1b65fc7debc3361ea86b5f14c68d2e2                  13844
2  ce3ad9de960102d0677a81f5d0bb7b2d                  20031
3  c0f3eea2e14555b6faeea3dd58c1b1c3                  04195
4  51a04a8a6bdcb23deccc82b0b80742cf                  12914

In [63]:
dfsellers.to_csv("datasetsout/olist_sellers_dataset.csv")