In [33]:
import psycopg2
import pandas as pd
import numpy as np
import datetime as dt
from sqlalchemy import create_engine
import time

In [179]:
# Conexión a la base de datos
conn = psycopg2.connect(
    host="dpg-cf3enqun6mplnpe950v0-a.oregon-postgres.render.com",
    database="olist",
    user="olist",
    password="IHCRtcefMFbJIjUMXuUMtcIfpTAEo5d1"
)

In [35]:
engine = create_engine('postgresql://olist:IHCRtcefMFbJIjUMXuUMtcIfpTAEo5d1@dpg-cf3enqun6mplnpe950v0-a.oregon-postgres.render.com:5432/olist')

In [36]:
# Carga actual
product_cat_name_ac = pd.read_sql_table('product_category_name_translation', engine)
geolocation_ac = pd.read_sql_table('geolocation', engine)
marketing_ac = pd.read_sql_table('marketing_qualified_leads', engine)
closed_deals_ac = pd.read_sql_table('closed_deals', engine)
sellers_ac = pd.read_sql_table('olist_sellers', engine)
customers_ac=pd.read_sql_table('customers', engine)
orders_ac = pd.read_sql_table('orders', engine)
payments_ac = pd.read_sql_table('order_payments', engine)
reviews_ac = pd.read_sql_table('order_reviews', engine)
products_ac = pd.read_sql_table('products', engine)
items_ac = pd.read_sql_table('order_items', engine)

In [80]:
#Carga incremental crudo
product_cat_name_inc=pd.read_csv("Datasetsincremental/product_category_name_translation.csv")
geolocation_inc=pd.read_csv("Datasetsincremental/olist_geolocation_dataset.csv", dtype= {'geolocation_zip_code_prefix': str})
marketing_inc=pd.read_csv("Datasetsincremental/olist_marketing_qualified_leads_dataset.csv")
closed_deals_inc=pd.read_csv("Datasetsincremental/olist_closed_deals_dataset.csv")
sellers_inc=pd.read_csv("Datasetsincremental/olist_sellers_dataset.csv",dtype={"seller_zip_code_prefix": str})
customers_inc=pd.read_csv("Datasetsincremental/olist_customers_dataset.csv",dtype={"customer_zip_code_prefix": str})
orders_inc=pd.read_csv("Datasetsincremental/olist_orders_dataset.csv")
payments_inc=pd.read_csv("Datasetsincremental/olist_order_payments_dataset.csv")
reviews_inc=pd.read_csv("Datasetsincremental/olist_order_reviews_dataset.csv")
products_inc=pd.read_csv("Datasetsincremental/olist_products_dataset.csv")
items_inc=pd.read_csv("Datasetsincremental/olist_order_items_dataset.csv")
df_coord_estados_inc = pd.read_csv('datasetsincremental/coordenadas_estados.csv',sep=';')
df_coord_ciudades_inc = pd.read_csv('datasetsincremental/coordenadas_ciudades.csv')
br_info_inc = pd.read_csv('datasetsincremental/br_info.csv')

In [81]:
#Product Category Name Translation

def etl_product_cat():
    product_cat_name=product_cat_name_inc.copy()

    product_cat_name=product_cat_name.append({"product_category_name" : "pc_gamer" , "product_category_name_english" : "pc_gamer"} , ignore_index=True)
    product_cat_name=product_cat_name.append({"product_category_name" : "portateis_cozinha_e_preparadores_de_alimentos" , "product_category_name_english" : "kitchen_and_food_preparation_racks"} , ignore_index=True)
    product_cat_name["product_category_name"]=product_cat_name["product_category_name"].str.replace("_"," ")
    product_cat_name["product_category_name_english"]=product_cat_name["product_category_name_english"].str.replace("_"," ")

    return product_cat_name

# Geolocation

def etl_geolocation():

    df_coord_estados = df_coord_estados_inc.copy()
    df_coord_ciudades = df_coord_ciudades_inc.copy()
    br_info = br_info_inc.copy()
    geolocation=geolocation_inc.copy()
    sellers=sellers_inc.copy()
    customers=customers_inc.copy()

    # Renombre de columnas

    geolocation.rename(columns={'geolocation_zip_code_prefix': 'zip_code_prefix','geolocation_city': 'city','geolocation_state': 'state'}, inplace=True)
    sellers.rename(columns={'seller_zip_code_prefix': 'zip_code_prefix', 'seller_city': 'city', 'seller_state': 'state'}, inplace=True)
    customers.rename(columns={'customer_zip_code_prefix': 'zip_code_prefix', 'customer_city': 'city', 'customer_state': 'state'}, inplace=True)

    # Concatención
    # Concateno todos los datasets
    df_concat = pd.concat([geolocation,sellers[['zip_code_prefix','city','state']],customers[['zip_code_prefix','city','state']]],axis=0)

    # PROCESAMIENTO
    df_procesado = df_concat.groupby(by='zip_code_prefix', as_index=False).min()
    df_procesado = df_procesado.merge(br_info, how='left', left_on='state', right_on='sigla')
    # Renombre
    df_procesado.rename(columns={'id': 'id_state', 'state':'state_sigla','nome':'state_name','nome_regiao':'region_name'}, inplace=True)
    # Drop de sigla
    df_procesado.drop(columns=['sigla'],inplace=True)
    # Reordenado
    df_procesado = df_procesado[['zip_code_prefix','region_name','id_state','state_sigla','state_name','city','geolocation_lat','geolocation_lng']]
    # Añado columna localizador
    df_procesado['localizador'] = df_procesado['city'] + ' ' + df_procesado['state_sigla'] + ', Brazil'
    # Merge con coordenadas de city y estados
    df_procesado = df_procesado.merge(df_coord_ciudades[['localizador','latitud','longitud']], on = 'localizador')
    df_procesado = df_procesado.merge(df_coord_estados, how='left', left_on='state_sigla', right_on='uf')
    # Renombre columnas
    df_procesado.rename(columns={'latitud': 'latitud_city','longitud': 'longitud_city','latitude': 'latitud_state', 'longitude':'longitud_state'}, inplace=True)
    # Elimino geolocation_latitude y geolocation_longitude y uf
    df_final_procesado = df_procesado.drop(columns=['uf','geolocation_lat','geolocation_lng'])

    return df_final_procesado 

# Marketing

def etl_marketing():
    marketing=marketing_inc.copy()

    marketing.drop(columns=["landing_page_id"],axis=1,inplace=True)

    marketing["first_contact_date"]=pd.to_datetime(marketing["first_contact_date"],format="%Y-%m-%d %H:%M:%S")

    marketing.fillna("SIN DATO",inplace=True)
    return marketing

# Sellers

def etl_sellers():
    
    sellers=sellers_inc.copy()
    closed_deals=closed_deals_inc.copy()

    sellers.drop(columns=["seller_city","seller_state"],axis=1,inplace=True)

    return sellers

# Closed Deals

def etl_closed_deals():
    closed_deals=closed_deals_inc.copy()

    closed_deals.drop(columns=["sdr_id","sr_id","lead_behaviour_profile","has_company","has_gtin","average_stock","business_type","declared_product_catalog_size","declared_monthly_revenue"],axis=1,inplace=True)
    closed_deals["won_date"]=pd.to_datetime(closed_deals["won_date"],format="%Y-%m-%d %H:%M:%S")
    closed_deals.fillna("SIN DATO",inplace=True)
    
    return closed_deals


# Customers

def etl_customers():
    customers=customers_inc.copy()

    customers.drop(columns=["customer_city","customer_state"],axis=1,inplace=True)

    return customers

# Orders

def etl_orders():

    payments=payments_inc.copy()
    orders=orders_inc.copy()
    
    orders["order_purchase_timestamp"]=pd.to_datetime(orders["order_purchase_timestamp"],format="%Y-%m-%d %H:%M:%S")
    orders["order_approved_at"]=pd.to_datetime(orders["order_approved_at"],format="%Y-%m-%d %H:%M:%S")
    orders["order_delivered_carrier_date"]=pd.to_datetime(orders["order_delivered_carrier_date"],format="%Y-%m-%d %H:%M:%S")
    orders["order_delivered_customer_date"]=pd.to_datetime(orders["order_delivered_customer_date"],format="%Y-%m-%d %H:%M:%S")
    orders["order_estimated_delivery_date"]=pd.to_datetime(orders["order_estimated_delivery_date"],format="%Y-%m-%d %H:%M:%S")

    orders['difference_days1'] = orders['order_approved_at'] - orders['order_purchase_timestamp']
    orders['difference_days2'] = orders['order_delivered_carrier_date'] - orders['order_approved_at']
    orders['difference_days3'] = orders['order_delivered_customer_date'] - orders['order_approved_at']
    orders['difference_days4'] = orders['order_delivered_customer_date'] - orders['order_delivered_carrier_date']
    orders['difference_days5'] = orders['order_estimated_delivery_date'] - orders['order_delivered_customer_date']

    orders["order_approved_at_new"]=orders["order_purchase_timestamp"]+(orders["order_delivered_carrier_date"]-orders["order_purchase_timestamp"])/2

    orders.loc[(orders["difference_days2"]<pd.Timedelta(0)) & (orders["difference_days3"]<pd.Timedelta(0)),"order_approved_at"]=orders.loc[(orders["difference_days2"]<pd.Timedelta(0)) & (orders["difference_days3"]<pd.Timedelta(0)),"order_approved_at_new"]

    orders["order_delivered_carrier_date_new"]=orders["order_approved_at"]+(orders["order_delivered_customer_date"]-orders["order_approved_at"])/2

    orders.loc[orders["difference_days2"]<pd.Timedelta(0),"order_delivered_carrier_date"]=orders.loc[orders["difference_days2"]<pd.Timedelta(0),"order_delivered_carrier_date_new"]

    orders["order_delivered_carrier_date_new"]=orders["order_approved_at"]+(orders["order_delivered_customer_date"]-orders["order_approved_at"])/2

    orders.loc[orders["difference_days4"]<pd.Timedelta(0),"order_delivered_carrier_date"]=orders.loc[orders["difference_days4"]<pd.Timedelta(0),"order_delivered_carrier_date_new"]

    orders["order_delivered_carrier_date_new"]=orders["order_approved_at"]+(orders["order_delivered_customer_date"]-orders["order_approved_at"])/2
    orders.loc[(orders["order_status"]=="delivered") & (orders["order_delivered_carrier_date"].isnull()),"order_delivered_carrier_date"]=orders.loc[(orders["order_status"]=="delivered") & (orders["order_delivered_carrier_date"].isnull()),"order_delivered_carrier_date_new"]

    orders.loc[(orders["order_status"]=="delivered") & (orders["order_delivered_carrier_date"].isnull()),"order_status"]="approved"

    orders["order_approved_at_new"]=orders["order_purchase_timestamp"]+(orders["order_delivered_carrier_date"]-orders["order_purchase_timestamp"])/2
    orders.loc[(orders["order_status"]=="delivered") & (orders["order_approved_at"].isnull()),"order_approved_at"]=orders.loc[(orders["order_status"]=="delivered") & (orders["order_approved_at"].isnull()),"order_approved_at_new"]

    orders.loc[(orders["order_status"]=="delivered")&(orders["order_delivered_customer_date"].isnull()),"order_status"]="shipped"

    orders.drop(columns=["difference_days1","difference_days2","difference_days3","difference_days4","difference_days5","order_approved_at_new","order_delivered_carrier_date_new"],inplace=True)

    dftotalordercost=payments.groupby(['order_id']).sum()
    dftotalordercost=dftotalordercost.drop(columns=["payment_installments"])
    dftotalordercost.rename(columns={"payment_value":"total_order_cost"},inplace=True)
   
    orders = orders.merge(dftotalordercost[['total_order_cost']], on='order_id', how='outer')    

    return orders


# Payments

def etl_payments():

    payments=payments_inc.copy()

    payments.drop(columns=["payment_sequential"],axis= 1, inplace=True)

    return payments


#Reviews

def etl_reviews():

    reviews=reviews_inc.copy()

    reviews["review_creation_date"]=pd.to_datetime(reviews["review_creation_date"],format="%Y-%m-%d %H:%M:%S")
    reviews["review_answer_timestamp"]=pd.to_datetime(reviews["review_answer_timestamp"],format="%Y-%m-%d %H:%M:%S")

    reviews["review_comment_title"].fillna("SIN TITULO",inplace=True)
    reviews["review_comment_message"].fillna("SIN COMENTARIOS",inplace=True)

    return reviews

# Products

def etl_products():

    products=products_inc.copy()

    products.drop(columns=["product_name_lenght","product_description_lenght","product_weight_g","product_length_cm","product_height_cm","product_width_cm"],axis=1,inplace=True)
    products["product_photos_qty"].fillna(0.0,inplace=True)
    products["product_photos_qty"] = products["product_photos_qty"] .astype("int")
    products["product_category_name"]=products["product_category_name"].str.replace("_"," ")
    products["product_category_name"]=products["product_category_name"].fillna("outras")

    return products

# Items

def etl_items():

    items=items_inc.copy()

    items["shipping_limit_date"]=pd.to_datetime(items["shipping_limit_date"],format="%Y-%m-%d %H:%M:%S")

    return items

In [82]:
#incremental despues de ETL
product_cat_name_in=etl_product_cat()
geolocation_in=etl_geolocation()
marketing_in=etl_marketing()
sellers_in=etl_sellers()
closed_deals_in=etl_closed_deals()
customers_in=etl_customers()
orders_in=etl_orders()
payments_in=etl_payments()
reviews_in=etl_reviews()
products_in=etl_products()
items_in=etl_items()

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_11540\2038168649.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  product_cat_name=product_cat_name.append({"product_category_name" : "pc_gamer" , "product_category_name_english" : "pc_gamer"} , ignore_index=True)
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_11540\2038168649.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  product_cat_name=product_cat_name.append({"product_category_name" : "portateis_cozinha_e_preparadores_de_alimentos" , "product_category_name_english" : "kitchen_and_food_preparation_racks"} , ignore_index=True)

In [83]:
product_cat_name_in.tail()

,product_category_name,product_category_name_english
69,fashion roupa infanto juvenil,fashion childrens clothes
70,seguros e servicos,security and services
71,Dota 2 Port,Dota2 Eng
72,pc gamer,pc gamer
73,portateis cozinha e preparadores de alimentos,kitchen and food preparation racks

In [84]:
product_cat_name_aux=pd.merge(left=product_cat_name_ac,right=product_cat_name_in,on='product_category_name',how='outer')
product_cat_name_aux=pd.merge(left=product_cat_name_aux,right=products_in[['product_category_name']].drop_duplicates(),on='product_category_name',how='outer')

In [85]:
product_cat_name_aux["UPDATE"]="NO"
product_cat_name_aux["INSERT"]="NO"

In [86]:
product_cat_name_aux.loc[(product_cat_name_aux["product_category_name_english_x"]!=product_cat_name_aux["product_category_name_english_y"]) &(product_cat_name_aux["product_category_name_id"].notna()),"UPDATE"]="SI"
product_cat_name_aux.loc[product_cat_name_aux.index>product_cat_name_ac.count()[0]-1,"INSERT"]="SI"

In [196]:
product_cat_name_aux.head()

,product_category_name_id,product_category_name,product_category_name_english_x,product_category_name_english_y,UPDATE,INSERT
0,1.0,beleza saude,health beauty,health beautifulworld,SI,NO
1,2.0,informatica acessorios,computers accessories,computers accessories world,SI,NO
2,3.0,automotivo,auto,auto,NO,NO
3,4.0,cama mesa banho,bed bath table,bed bath table,NO,NO
4,5.0,moveis decoracao,furniture decor,furniture decor,NO,NO

In [194]:
product_cat_name_aux.tail()

,product_category_name_id,product_category_name,product_category_name_english_x,product_category_name_english_y,UPDATE,INSERT
71,72.0,pc gamer,pc gamer,pc gamer,NO,NO
72,73.0,portateis cozinha e preparadores de alimentos,kitchen and food preparation racks,kitchen and food preparation racks,NO,NO
73,NaN,Dota 2 Port,NaN,Dota2 Eng,NO,SI
74,NaN,outras,NaN,NaN,NO,SI
75,NaN,Crash bandicoot port,NaN,NaN,NO,SI

In [181]:
cur = conn.cursor()

In [173]:
updateindex=list(product_cat_name_aux[product_cat_name_aux["UPDATE"]=="SI"].index)
for i in updateindex:
    cur.execute("UPDATE product_category_name_translation \
    SET product_category_name_english = '"+str(product_cat_name_aux.loc[i,"product_category_name_english_y"])+"' \
    WHERE product_category_name = '"+str(product_cat_name_aux.loc[i,"product_category_name"])+"'")

In [289]:
# Creación del cursor
cur = conn.cursor()
insertindex=list(product_cat_name_aux[product_cat_name_aux["INSERT"]=="SI"].index)
for i in insertindex:
    cur.execute("INSERT INTO product_category_name_translation( \
	 product_category_name, product_category_name_english) \
	VALUES ('"+str(product_cat_name_aux.loc[i,"product_category_name"])
	+"','"+str(product_cat_name_aux.loc[i,"product_category_name_english_y"])+"')")

In [290]:
conn.commit()
cur.close()

In [176]:
conn.close()
engine.dispose()